body {
    color: #777;
	background-color:#232B24;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.pure-g > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.l-box {
	padding: 2em;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active {
        position: relative;
        left: 300px;
    }
        #layout.active #menu {
            left: 300px;
            width: 300px;
        }

        #layout.active .menu-link {
            left: 300px;
        }
.content {
	padding: 5px 5px;
}

#sessions, #teams { 
	background: #232B24;
}

#sessgrid {
	position: relative;
}

/* I do this weird. */
#sessgrid div {
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	background-color: #232B24;
	color: green;
	overflow: hidden;
	font-size:11px;
	padding: 5px;
	z-index: 10;
	position: relative;
	transform-origin: 0% 0%;
}

#sessgrid div:after {
	background-color: #080808;
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	z-index: -1;
}

#sessgrid pre, H2 {
	margin-left: 5px;
}

#teams {
	/*padding-left: 2em;*/
    padding: 1em 1em 0;
}

#sessgrid div:nth-child(4n+4) {
	transform-origin: 100% 0%;
}

#sessgrid div:nth-child(4n-1) {
	transform-origin: 100% 0%;
}

#connlist {
	border: 2px solid;
	border-radius: 20px;
	background: #191818;
	padding: 20px;
	height: 800px;
	/*width: 90%; */
	font-size: 100%;
	overflow: auto;
}

.hackers {
	position: relative;
	width: 80%;
	text-align: center;
	line-height: 30px;
	font-size: 250%;
}

prompt input {
	background: transparent;
	border: none;
	color: green;
	margin-left: 7px;
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono
}

prompt {
	padding-left: 5px;
}

prompt:before {
	content: ">";
	left: 2px;
	position: relative;
}

.box { 	background-color:#080808;
				-moz-border-radius:3px;
  		  -khtml-border-radius: 3px;
				-webkit-border-radius:3px;
				border-radius:3px;

 
-webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
    -ms-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
        
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;

}


/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -300px; /* "#menu" width */
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected /*,
    #menu .pure-menu-heading */ {
        /*background: #1f8dd6; */
		background: #232B24;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

	/*
    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }
	*/

    #layout {
        padding-left: 300px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 300px;
    }

    .menu-link {
        position: fixed;
        left: 300px;
        display: none;
    }

    #layout.active .menu-link {
        left: 300px;
    }
}
