<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Red Team Server</title>

<link rel="stylesheet" href="css/pure-min.css">
<link rel="stylesheet" href="css/style.css">

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="js/socket.io.min.js"></script>
<script> 
$(document).ready(function() {
		$('.invisible').hide(); 

		$("#connlist").niceScroll({cursorcolor:"#232B24", autohidemode: true, cursorborder: 'none'})
		$("#joblist").niceScroll({cursorcolor:"#232B24"})
		$("#teamgrid").niceScroll({cursorcolor:"#00F"}).hide(); 

		var socket = io.connect('http://' + document.domain + ':' + location.port + '/sessions'); 
		var sess = [];
		var tap = false;
		socket.on('session_data', function(data) {
		for (var key in data) {
			if (data.hasOwnProperty(key)) {
				var keyid = key.replace(/\.|:/g, "-");
				var title = key.replace("--", " -> ");

				if ($.inArray(keyid, sess) <= -1) {
					var box = document.createElement('div');
					box.id = keyid;
					box.className = 'box pure-u-1-4';

					$('#sessgrid').append(box);
					sess.push(keyid);


					$("#" + keyid).append("<H2>" + title + "</H2>");
					$("#" + keyid).append("<pre>" + data[key] + "</pre>");

					$("#" + keyid).click(function() {
						if (tap != true) {
							$(this).append('<prompt><input type="text"></prompt>');
							$(this).css({transform: 'scale(2)', zIndex:'20'});
							$("prompt input").focus();
							tap = true;
						}
						else {
							$(this).css({transform: 'scale(1)', zIndex:'10'});
							$("prompt").remove();
							tap = false;
						}
					});

					$("#" + keyid).keypress(function(e) {
						if (e.which == 13) {
							socket.emit('shell_cmd', {session: keyid, cmd: $("prompt input").val()});
							$("prompt input").val('');
						}
					});

				}

				//$("#" + keyid + " pre").empty();
				$("#" + keyid + " pre").text(data[key]);
			}
		}});

		socket.on('hacker_data', function(data) {
			for (var key in data) {
				var d = data[key].split(",");
				var html = "<p><strong style=\"color:" + d[1] + "\">";
				html += key + "</strong><span style=\"font-size:22px;color:" + d[1] + "\">";
				html += " - " + d[0] + "</span></p>";
				$(".hackers").append(html);	
			}
			$(".hackers p").each(function() {
				$(this).dblclick(function() {
					$(this).remove()
				});
			});
		});

		$(".hackers p").each(function() {
			$(this).dblclick(function() {
				$(this).remove()
				// TODO: Socket call to remove hacker
			});
		});


		socket.on('team_data', function(data) {
			for (var key in data) {
				$("#teamgrid li").each(function() {
					if (this.id == key) {
						$(this).css("color", data[key]);
					}
				});
			}
		});

		socket.on('relay_data', function(data) {
			$("#relaygrid").empty();
			for (var key in data) {
				var d = data[key].split(",");
				var html = "<p>" + key + " --> " + d[0] + ":" + d[1] + "</p>";
				$("#relaygrid").append(html);
			}
		});

		socket.on('conn_data', function(data) {
			for (var key in data) {
				var d = data[key].split(",");
				$(".datalist").append("<p><" + d[1] + "> " + d[0]);
			}
			// TODO: Add colors and other data
		});

		socket.on('job_data', function(data) {
			for (var key in data) {
				$("#jobs textarea").val(data[key]);
			}
		});

		$("#hackerform").submit(function() {
			socket.emit('add_hacker', {hacker: $("#hacker").val(), ip: $("#hackerip").val()});
			$("hacker").val("");
			$("hackerip").val("");
		});

		$("#relayform").submit(function() {
			socket.emit('add_relay', {host: $("#rhost").val(), 
									target: $("#rtarget").val(), 
									  port: $("#rport").val()});
			// TODO: Add busy screen
		});

		$("jobform").submit(function() {
			socket.emit('add_job', {job: $("#selectjob").val(),
									host: $("#jobhost").val()});
		});

		$("#selectjob").click(function() {
			if ($(this).val() == "addnewjob") {
				$("#jobs textarea").val("");
				$("#jobs input").removeAttr('disabled');
			}
			else {
				socket.emit('get_job', {job: $(this).val()});	
				if ($("#jobhost option").size() >= 1) {
					$("#addjobButton").removeClass("pure-button-disabled");
					$("#addjobButton").addClass("pure-button-primary");
				}
			}
			return false;
		});

		$("#newjobButton").click(function() {
			if ($("#jobs textarea").val() != "") {
				var newjob = $("#jobs input").val().toLowerCase();
				// TODO: Check if safe for file creation
				socket.emit('new_job', {job: newjob,
										data: $("#jobs textarea").val()});

				$("#selectjob option:last-child").remove();
				$("#selectjob").append('<option value="' + newjob + '">' + newjob + '</option>');
				$("#selectjob").append('<option value="addnewjob">Add new job...</option>');

				$("#newjob").val("");
				$("#newjobButton").addClass("pure-button-disabled");
				$("#newjobButton").removeClass("pure-button-primary");
				$("#newjob").attr('disabled', 'disabled');
			}

			else {
				alert("Put something in the text area, dummy.");
			}
			return false;
		});

		$("#newjob").keypress(function() {
			$("#newjobButton").removeClass("pure-button-disabled");
			$("#newjobButton").addClass("pure-button-primary");
		});
			

		hideAll = function() {
			$("div.menuitem").hide();
			$("li").removeClass("pure-menu-selected");
		}

		$("#menu li").each(function() {
			$(this).click(function() {
				$("li").removeClass("pure-menu-selected");
				$("div.menuitem").hide();

				$(this).addClass("pure-menu-selected");
				var item = $(this).attr('class').split(" ")[0];
				$("#" + item).show();
			});
		});

		$("#selectjob").append('<option value="addnewjob">Add new job...</option>');
});
</script>


</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
			<a class="pure-menu-heading" href="#"><span style="color:red">Red</span> Team Server</a>

            <ul>
                <li class="teams"><a href="#">Teams</a></li>
                <li class="sessions pure-menu-selected"><a href="#">Sessions</a></li>
				<li class="relays"><a href="#">Relays</a></li>
                <li class="jobs"><a href="#">Jobs</a></li>
                <li class="chat"><a href="#">Chat</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
      <div class="content">

		<div id="teams" class="invisible menuitem pure-g">
			<div class="pure-u-1-2 l-box" style="position: relative">
				<form id="hackerform" autocomplete="off">
					<fieldset>
						<legend>Add a hacker</legend>
						<input id="hacker" type="name" placeholder="Name">
						<input id="hackerip" list="ip"> 
						<datalist id="ip">
							{% for hacker, ip, color in hackers %}
							<option value="{{ip}}">
							{% endfor %}
						</datalist>
						<button type="submit" class="pure-button pure-button-primary">Add</button>
					</fieldset>
				</form>
				<div class="hackers">
					{% for hacker, ip, color in hackers %}
					<p><strong style="color:{{color}}">{{hacker}}</strong><span style="font-size:22px;color:{{color}}"> - {{ip}}</span></p>
					{% endfor %}
				</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<div id="teamgrid" class="pure-g">
					{% for team, ips in teams %}
					<div class="pure-u-1-2">
						<h2>{{ team }}</h2>
						<ul>
						{% for ip, hacker, color in ips %}
						<li id="{{ip}}" style="color:{{color}}">{{ ip }}</li> <!-- {{hacker}} -->
						{% endfor %}
						</ul>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div id="sessions" class="menuitem">
			<div id="sessgrid" class="pure-g"></div>
		</div>

		<div id="relays" class="invisible menuitem pure-g">
			<div class="pure-u-1-2 l-box">
				<form id="relayform" class="pure-form pure-form-stacked" autocomplete="off">
					<fieldset>
						<legend style="color:white">Add Relay</legend>

						<label for="host">Infected IP</label>
						<input id="rhost" list="h_ip">
						<datalist id="h_ip">
							{% for target in conns %}
							<option value="{{target}}">
							{% endfor %}
						</datalist>

						<label for="target">Listener IP</label>
						<input id="rtarget" list="t_ip">
						<datalist id="t_ip">
							{% for ip, hacker, color in ips %}
							<option value="{{ip}}">
							{% endfor %}
						</datalist>

						<label for="port">Port</label>
						<input id="rport">
						<button type="submit" class="pure-button pure-button-primary">Add</button>
					</fieldset>
				</form>
				<div id="relaygrid">
				<!-- TODO: Click to delete relay -->	
				</div>
			</div>

			<div class="pure-u-1-2 l-box">
				<div id="connlist" class="datalist"></div>
			</div>
		</div>

		<div id="jobs" class="invisible menuitem pure-g">
			<div class="pure-u-1-2 l-box">
				<div style="float: left; width: 60%;">
					<select id="selectjob" size="10" class="jobselect">
						{% for job in jobs %}
						<option value="{{job}}">{{job}}</option>
						{% endfor %}
					</select>
				</div>
				<div>
					<button class="pure-button">Edit Job</button>
					<button id="newjobButton" class="pure-button pure-button-disabled">New Job</button>
				</div>
				<div class="l-box">
					<input id="newjob" placeholder="New Job Name" disabled>
					<!-- TODO: Allow submitting a user entered IP for a job -->
				</div>
				<form id="addjob" class="pure-form">
					<fieldset>
						<select id="jobhost" placeholder="Target" style="width: 60%;">
							{% for target in conns %}
							<option value="{{target}}">{{target}}</option>
							{% endfor %}
						</select>
						<button id="addjobButton" type="submit" class="pure-button pure-button-disabled">Add Job</button>
					</fieldset>
				</form>
				<textarea cols="75" rows="33"></textarea>
			</div>
			<div class="pure-u-1-2 l-box">
				<div id="joblist" class="datalist"></div>
			</div>
		</div>

		<div id="chat" class="invisible menuitem" style="position:relative">
			<div id="chatframe" class="l-box">
				<!-- TODO: Fix height issue -->
				<!--
		<iframe src="https://kiwiirc.com/client/irc.freenode.org/?nick=redteam|?&theme=cli#mwccdc" style="border:0; position:relative; width:100%; height: 100%;"></iframe> -->
			</div>
		</div>

    </div>
</div>

<script src="js/ui.js"></script>
</body>
</html>
