<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Red Team Server</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="css/layouts/side-menu.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script> 
$(document).ready(function() {
		$('.invisible').hide(); 

		var socket = io.connect('http://' + document.domain + ':' + location.port + '/sessions');

		var sess = [];
		var tap = false;
		socket.on('session_data', function(data) {
		for (var key in data) {
			if (data.hasOwnProperty(key)) {
				var keyid = key.replace(/\./g, "-");
				var title = key.replace("--", " -> ");

				if ($.inArray(keyid, sess) <= -1) {
					var box = document.createElement('div');
					box.id = keyid;
					box.className = 'box pure-u-1-4';

					$('#sessgrid').append(box);
					sess.push(keyid);


					$("#" + keyid).append("<H2>" + title + "</H2>");
					$("#" + keyid).append("<pre>" + data[key] + "</pre>");

					$("#" + keyid).click(function() {
						if (tap != true) {
							$(this).append('<prompt><input type="text"></prompt>');
							$(this).css({transform: 'scale(2)', zIndex:'20'});
							$("prompt input").focus();
							tap = true;
						}
						else {
							$(this).css({transform: 'scale(1)', zIndex:'10'});
							$("prompt").remove();
							tap = false;
						}
					});

					$("#" + keyid).keypress(function(e) {
						if (e.which == 13) {
							socket.emit('shell_cmd', {session: keyid, cmd: $("prompt input").val()});
							$("prompt input").val('');
						}
					});

				}

				//$("#" + keyid + " pre").empty();
				$("#" + keyid + " pre").text(data[key]);
			}
		}});

		socket.on('hacker_data', function(data) {
			for (var key in data) {
				var d = data[key].split(",");
				var html = "<p><strong style=\"color:" + d[1] + "\">";
				html += key + "</strong><span style=\"font-size:22px;color:" + d[1] + "\">";
				html += " - " + d[0] + "</span></p>";
				$(".hackers").append(html);	
			}
		});

		socket.on('team_data', function(data) {
			for (var key in data) {
				$("#teamgrid li").each(function() {
					if (this.id == key) {
						$(this).css("color", data[key]);
					}
				});
			}
		});

		socket.on('relay_data', function(data) {
			$("#relaygrid").empty();
			for (var key in data) {
				var d = data[key].split(",");
				var html = "<p>" + key + " --> " + d[0] + ":" + d[1] + "</p>";
				$("#relaygrid").append(html);
			}
		});

		socket.on('conn_data', function(data) {
			for (var key in data) {
				$("#connlist").append("<p>" + data[key] + "</p>");
			}
		});
		
		$("#hackerform").submit(function() {
			socket.emit('add_hacker', {hacker: $("#hacker").val(), ip: $("#hackerip").val()});
		});

		$("#relayform").submit(function() {
			socket.emit('add_relay', {host: $("#rhost").val(), 
									target: $("#rtarget").val(), 
									  port: $("#rport").val()});
			// Add busy screen
		});

		hideAll = function() {
			$("div.menuitem").hide();
			$("li").removeClass("pure-menu-selected");
		}

		$("#menu li").each(function() {
			$(this).click(function() {
				$("li").removeClass("pure-menu-selected");
				$("div.menuitem").hide();

				$(this).addClass("pure-menu-selected");
				var item = $(this).attr('class').split(" ")[0];
				$("#" + item).show();
			});
		});
});
</script>


</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
    </a>

    <div id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="#">Red Team Server</a>

            <ul>
                <li class="teams"><a href="#">Teams</a></li>
                <li class="sessions pure-menu-selected"><a href="#">Sessions</a></li>
				<li class="relays"><a href="#">Relays</a></li>
                <li class="jobs"><a href="#">Jobs</a></li>
                <li class="chat"><a href="#">Chat</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
      <div class="content">

		<div id="teams" class="invisible menuitem pure-g">
			<div class="pure-u-1-2 l-box" style="position: relative">
				<form id="hackerform">
					<fieldset>
						<legend>Add a hacker</legend>
						<input id="hacker" type="name" placeholder="Name">
						<input id="hackerip" list="ip"> 
						<datalist id="ip">
							<option value="192.168.1.5">
							<option value="192.168.5.5">
						</datalist>
						<button type="submit" class="pure-button pure-button-primary">Add</button>
					</fieldset>
				</form>
				<div class="hackers">
					{% for hacker, ip, color in hackers %}
					<p><strong style="color:{{color}}">{{hacker}}</strong><span style="font-size:22px;color:{{color}}"> - {{ip}}</span></p>
					{% endfor %}
				</div>
			</div>
			<div class="pure-u-1-2 l-box">
				<div id="teamgrid" class="pure-g">
					{% for team, ips in teams %}
					<div class="pure-u-1-2">
						<h2>{{ team }}</h2>
						<ul>
						{% for ip, hacker, color in ips %}
						<li id="{{ip}}" style="color:{{color}}">{{ ip }}</li> <!-- {{hacker}} -->
						{% endfor %}
						</ul>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div id="sessions" class="menuitem">
			<div id="sessgrid" class="pure-g"></div>
		</div>

		<div id="relays" class="invisible menuitem pure-g">
			<div class="pure-u-1-2 l-box">
				<form id="relayform" class="pure-form pure-form-stacked">
					<fieldset>
						<legend>Add Relay</legend>

						<label for="host">Infected IP</label>
						<input id="rhost" list="h_ip">
						<datalist id="host">
						</datalist>

						<label for="target">Listener IP</label>
						<input id="rtarget" list="t_ip">
						<datalist id="target">
						</datalist>

						<label for="port">Port</label>
						<input id="rport">
						<button type="submit" class="pure-button pure-button-primary">Add</button>
					</fieldset>
				</form>
				<div id="relaygrid"></div>
			</div>
			<div id="connlist" class="pure-u-1-2 l-box">
			</div>
		</div>

		<div id="jobs" class="invisible menuitem">
		</div>

        </div>
    </div>
</div>

<script src="js/ui.js"></script>
</body>
</html>
